body {
  background-color: #a2af15;
  font-family: monospace;
}

.game {
  text-align: center;
  vertical-align: middle;
}

.info {
  text-align: center;
  vertical-align: middle;
  height: 166px;
}

.info.initial {
  font-size: 4em;
}

.info.running {
  font-size: 9em;
}

.info.paused {
  font-size: 4em;
}

.info.over {
  font-size: 4em;
}

.timer {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
  background-color: red;
  color: white;
}

.associations-left {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
  background-color: lightblue;
  color: white;
}

input {
  font-size: 60px;
  font-family: monospace;
  text-align: center;
}
